.searchGrp {
    width: 35%;
    min-width: 300px;
}
.bottomribbon{
    border-radius:0 0 20px 20px; 
    position: absolute;
    background:#191717e3;
     bottom:0;
     left:0;
     font-size:1em;
     width:100%;
    color:white;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top:3px;
    cursor: pointer;
}

.searchInput,
.searchInputText
 {
     border: none;
     background: #434343;
     color: white;
 }
 .searchInput:focus,
 .searchInput:hover {
     background: #434343;
     color: white;
     border: none !important;
     outline: none !important;
     box-shadow: none;
 }

 .searchInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    text-align: center;
  }
  
  .searchInput::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    text-align: center;
  }
  
  .searchInput::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    text-align: center;
  }
.collegePlate {
    color: white;
    position:relative;
}
.collegePlateCard {
    background: #303030;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    position: relative;
}
.collegePlateCardHeader {
    text-align: center;
    font-weight: 800;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.collegePlateCardBody {
    padding-top: 0px;
    position: relative;
}
.collegePlateImgFrame {
    width: 100%;
    max-height: 110px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    background: white;
    padding: 0px 5px 0px 5px;
}
.collegePlateImg {
    height: 100px;
    max-width: 100%;
    width: auto;
    margin: 5px 0px 5px 0px;
}