.heading > h1{
    font-size: 3em;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 2px black;
    /* font-family: 'Poppins', sans-serif; */
}
.heading > p{
    color: white;
    font-size: 1.5em;
}
.heading{
margin-left: auto;
margin-right: auto;
}

@media screen and (max-width:750px){
.heading >h1{
    font-size: 2.6em;
}
.heading >p{
    font-size: 1.2em;
}
}

.personid{
position: absolute;
/* left: 2%;
top: 10%; */
/* transform: scale(1.5); */
animation: bigify 2s ease-in forwards;
}
@keyframes bigify {
    0% {
        /* transform: scale(1.5); */
        left: -100px;
        top: 10%;
    }
    100% {
        transform: scale(1.3);
        left: 2%;
        top: 10%;
    }
}
.findbutton{
    border:none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    background: white;
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 auto 0 auto;
    box-shadow: -7px 7px 13px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -7px 7px 13px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -7px 7px 13px 0px rgba(0,0,0,0.75);
}
