.backsidecard{
transform: scale(1.5);
}
.down{
    background:white;
    color: black;
    border: 1px solid black
}
.down:hover{
    box-shadow: -7px 7px 13px 0px rgba(102, 99, 99, 0.75);
    -webkit-box-shadow: -7px 7px 13px 0px rgba(102, 99, 99, 0.75);
    -moz-box-shadow: -7px 7px 13px 0px rgba(102, 99, 99, 0.75);
    background: #303030;
    color: white;
    border: 1px solid white;
}
.curve{
    transform: skewX(-45deg);
    position: absolute;
    right: -25px;
    top:0;
    height:50px;
    width:50px;
    background:orange;
}
.previewCont {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    background: #212529;
}
.idphoto{
    position: absolute;
    top:1.2cm;
    width: 2.1cm;
    right: 0.4cm;
}
.photopass{
    height: 2.85cm;
    position: relative;
    width: 2.1cm;
}
.signature{
    height: 1.2cm;
}
@media only screen and (min-width: 879px) {
    .previewCont {
        align-items: center;
        padding: 0px;
        overflow: unset !important;
    }
}