.react-date-picker {
    background-color: #e6eceb;
    color: #000;
}

.react-datepicker__header {
    background-color: #434343;
}

.react-datepicker__header__dropdown ,
.react-datepicker__current-month {
    color: white;
}
.react-datepicker__month-dropdown-container{
    padding-right: 20px;
}
.react-datepicker__month-dropdown,
.react-datepicker__year-dropdown {
    background: #434343;
}
.react-datepicker__year-option:hover, .react-datepicker__month-option:hover, .react-datepicker__month-year-option:hover {
    background-color: #262626;
}
.react-datepicker__input-container > input{
    max-width: 100%;
}