@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
.logo{
    font-family: 'Merienda', cursive;
    font-weight: 800;
    margin-left: 5%;
}
.logo1{
    margin-left: 20%;
}
@media screen and (max-width:600px)
{
    .logo1{
        margin-left: 5%;
    }
}